Videos/Lean Prover - Day 1 (Types and Definitions).mp4
Videos/Lean Prover - Day 2 (Equality).mp4
Videos/Lean Prover - Day 3 (Booleans and Axioms).mp4
Videos/Lean Prover - Day 4 (Conjunctions).mp4
Videos/Lean Prover - Day 5.mp4
Videos/Lean Prover - Day 6 (Implications).mp4
Videos/Lean Prover - Day 7.mp4
Videos/Lean Prover - Day 8 (Negation).mp4
